* {
    padding: 0;
    border: 0;
    margin: 0;

}

@font-face {
    font-family: "NeoSansProRegular";
    src: local("NeoSansProRegular"),
        url("../../assets/fonts/neo-sans-pro-cdnfonts/NeoSansProRegular.OTF") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NeoSansProBold";
    src: local("NeoSansProBold"),
        url("../../assets/fonts/neo-sans-pro-cdnfonts/NeoSansProBold.OTF") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NeoSansProMedium";
    src: local("NeoSansProMedium"),
        url("../../assets/fonts/neo-sans-pro-cdnfonts/NeoSansProMedium.OTF") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NeoSansProLight";
    src: local("NeoSansProLight"),
        url("../../assets/fonts/neo-sans-pro-cdnfonts/NeoSansProLight.OTF") format("truetype");
    font-weight: normal;
}


.section2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.articles {
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.articles article {
    height: 260px;
    width: 260px;
    background-color: #F6F6F6;
    border-radius: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "NeoSansProRegular";
    color: #228be6;
}

.articles article img {
    margin-bottom: 30px;
}

.titulos {
    margin-top: 10vh;
    color: #1C3380;
    text-align: center;
    font-family: "NeoSansProBold";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.aplicativo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.apptext {
    margin-top: 10vh;
}

.apptext1 {
    width: 583px;
    height: 500px;
    border-radius: 30px;
    background-color: #142869;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.apptext1 h3 {
    width: 90%;
    color: #FFF;
    text-align: center;
    font-family: "NeoSansProMedium";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.botao{
    background-color: #228be6;
    width: 30%;
    height: 40px;
    color: white;
    margin-top: 50px;
    text-align: center;
    font-family: "NeoSansProBold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao:hover{
    height: 38px;
    color: black;
    border: 2px solid #000;
    transition: 0.5s;
}

.apptext2 {
    width: 583px;
    height: 545px;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.apptext2 h1 {
    color: #1C3380;
    text-align: center;
    font-family: "NeoSansProBold";
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.apptext2 h3 {
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-family: "NeoSansProMedium";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width:780px) {
    .aplicativo {
        flex-direction: column;
    }
    .articles {
        margin-top: 5vh;
    }

    .articles article {
        width: 30%;
    }
    .articles article h2 {
        font-size: 20px;
    }
    
    .aplicativo h3 {
        width: 70%;
        height: auto;
    }
    .aplicativo h1 {
        width: 70%;
        height: auto;
    }
    .apptext h3 {
        width: 70%;
        height: auto;
    }

    .appimg {
        margin-top: -20vh;
    }
}