* {
    padding: 0;
    border: 0;
    margin: 0;

}

@font-face {
    font-family: "NeoSansProRegular";
    src: local("NeoSansProRegular"),
        url("../../assets/fonts/neo-sans-pro-cdnfonts/NeoSansProRegular.OTF") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "NeoSansProBold";
    src: local("NeoSansProBold"),
        url("../../assets/fonts/neo-sans-pro-cdnfonts/NeoSansProBold.OTF") format("truetype");
    font-weight: normal;
}

.section3 {
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: antiquewhite;
}

.titulos {
    margin-top: 10vh;
    color: #1C3380;
    text-align: center;
    font-family: "NeoSansProBold";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}